<div class="top-bar">
    <!-- logo -->
    <div class="logo">
        <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
    </div>
    <h1 class="logo__title">grocerymart</h1>

    <!--navbar  -->
    <nav class="navbar">
        <ul>
            <li>
                <a href="" class="navbar__link">Departments</a>
                <img src="./assets/icon/arrow-down.svg" alt="">
            </li>
            <li>
                <a href="" class="navbar__link">Grocery</a>
                <img src="./assets/icon/arrow-down.svg" alt="">
            </li>
            <li>
                <a href="" class="navbar__link">Beauty</a>
                <img src="./assets/icon/arrow-down.svg" alt="">
            </li>
        </ul>
    </nav>
</div>
